@media (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  body {
    background: #8924F5;
  }

  .topo-hora {
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }
  
  /* main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  .container {
    max-width: 400px;
    margin: 5em 1em;
    background: rgb(35, 35, 35);
    padding: 4%;
    border-radius: 10px;
  }
  
  .content {
    display: flex;
    justify-content: center;
  }

  .input-texto {
    background: #07080C;
    color: #fff;
    padding: 2.5%;
    margin: 0 0.5em;
    text-align: center;
    border-radius: 20px;
  }

  .input-texto:focus{
    outline: none;
  }

  .btn-adicionar {
    color: #fff;
    background: #07080C;
    padding: 2.5%;
    border-radius: 20px;
    cursor: pointer;
    transition: all .4s ease-in-out;
  }

  .btn-adicionar:hover{
    background: #0053A2;
  }

  li {
    display: flex;
    color: #fff;
    font-weight: 600;
    margin: 1em 5px;
    list-style-type: none;
    justify-content: space-between;
    font-size: 1.2rem;
    background: #8924F5;
    border-radius: 10px;
    padding: 0.3em;
  }

  .apagar {
    cursor: pointer;
    padding: 0.2rem;
    background: #111;
    transition: all .2s ease-in-out;
  }

  .apagar:hover {
    background: #fff;
    box-shadow: 0 0 3px 3px #F92F60;
  }
}

.relogio {
 color: #fff;
 font-weight: 600;
}

@media (min-width: 601px) {
  * {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  body {
    background: #8924F5;
  }

  .topo-hora {
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }

  .container {
    max-width: 400px;
    margin: 50px auto;
    background: rgb(35, 35, 35);
    padding: 4%;
    border-radius: 10px;
  }

  
  .input-texto {
    background: #07080C;
    color: #fff;
    padding: 2.5%;
    text-align: center;
    margin: 0 10px 0 5em;
    border-radius: 20px;
  }

  .input-texto:focus{
    outline: none;
  }

  .btn-adicionar {
    color: #fff;
    background: #07080C;
    padding: 2.5%;
    border-radius: 20px;
    cursor: pointer;
  }

  .btn-adicionar:hover{
    background: #0053A2;
  }

  li {
    display: flex;
    color: #fff;
    font-weight: 600;
    margin: 1em 5px;
    list-style-type: none;
    justify-content: space-between;
    font-size: 1.2rem;
    background: #8924F5;
    border-radius: 10px;
    padding: 0.3em;
  }

  .relogio {
   color: #fff;
   font-weight: 600;
  }

  .apagar {
    cursor: pointer;
    padding: 0.2rem;
    background: #111;
  }

  .apagar:hover {
    background: #fff;
    box-shadow: 0 0 3px 3px #F92F60;
  }
}
